* {
  font-size: 0.9rem;
}
header {
  height: 25px;
  font-size: 1.8rem;
  margin-top: 50px;
}
main {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}
.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}
#column1 {
  width: 40%;
}
#general2 article {
  font-size: 1.5rem;
}
#column2 {
  margin-left: 40px;
  width: 60%;
  font-weight: bold;
}
label {
  height: 10px;
}
button {
  width: fit-content;
}

.expenses-table article {
  padding-left: 30px;
  width: 33.33%;
  height: 30px;
  padding-top: 10px;
}
.expenses-table-kind,
.expenses-table-expenses,
.expenses-table-bin {
  font-weight: 500;
  border-bottom: 1px solid grey;
}
#reset {
  text-align: center;
  margin-top: 50px;
}
#reset button {
  width: 250px;
}

@media (width< 768px) {
  header {
    text-align: center;
  }
  main {
    flex-direction: column;
  }
  #column1 {
    width: 100%;
    padding: 0 10px 0 10px;
  }
  #column2 {
    width: 100%;
    margin-left: 0px;
    padding: 0 10px 0 10px;
    margin-top: 30px;
  }
  footer {
    margin-top: 200px;
  }
}
